{% load static %} {% load i18n %}<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  <head>
      {% include 'includes/tagmanager.html' %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>{% trans "Գաղտնաբառի վերականգնում" %} | Machanents.com</title>
    <meta name="Description" content="" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/color.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    {% include 'includes/header.html' %}
    <main id="content">
      <section class="main-top">
        <!-- Breadcrumbs -->
        <div class="bread-bg anot-breadcrumbs bot-prods" style="display: none">
          <div class="cnt">
            <div class="row">
              <div class="col">
                <div id="breadcrumbs">
                  <ul class="breadcrumbs-list align-items-center">
                    <li class="b-list-item">
                      <a href="{% url 'home' %}" class="b-list-link">{% trans "Գլխավոր" %}</a>
                    </li>
                    <span class="bread-arrow">→</span>
                    <li class="b-list-item">
                      <span>{% trans "Գաղտնաբառի վերականգնում" %}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Breadcrumbs end-->

        <!-- Authentication -->
        <div class="authentications-pages">
          <div class="auth-padd-top">
            <div class="cnt">
              <div class="row">
               
               <div class="col col-2 md-none">
                   <div class="sign-in-img">
                       <img src="{% static 'img/sign-in-img.jpg' %}" alt="Machanents">
                   </div>
               </div>
               
                <div class="col col-2">
                  <div class="all-form-wrap">
                    <div class="all-forms-items">
                      <ul class="form_tabs flex-content-center">
                        <li class="form_item no-mrl">
                          <a href="javascript:void(0);" class="active"
                            >{% trans "Մոռացե՞լ եք գաղտնաբառը" %}</a
                          >
                        </li>
                      </ul>
                      <div class="only_form">
                        <!-- error + success -->
                        {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %}">
                                {{message|safe}}
                            </div>
                        {% endfor %}
                        {% endif %}

                        <!-- error + success end -->
                        <form id="register-form" method="POST">
                        {% csrf_token %}
                          
                          <div class="input-fields flex-content-center">
                            <p class="forgot-info align-items-center">
                              <img
                                src="{% static 'img/icons/info.svg' %}"
                                alt="{% trans 'Մոռացե՞լ եք գաղտնաբառը' %}"
                              />
                              <span
                                >{% blocktrans %}Խնդրում ենք ստորև մուտքագրել Ձեր էլ.փոստի
                                հասցեն, և մենք կուղարկենք նոր գազտնաբառ
                                ստեղծելու կարգավորումները:{% endblocktrans %}</span >
                            </p>
                          </div>

                          <div class="input-fields">
                           <label for="email">Email *</label>
                            <input
                              type="email"
                              id="email"
                              name="email"
                            />
                          </div>

                          <div class="line-inputs-group">
                            <div class="butt-sign no-mrb">
                              <input
                                type="submit"
                                class="button big dark"
                                value="{% trans 'Ուղարկել' %}"
                              />
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Authentication end -->
      </section>
    </main>
    {% include 'includes/footer.html' %}
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script>
      //Validate
      $(function () {
        $("#register-form").validate({
          rules: {
            email: {
              required: true,
              email: true,
            },
          },

          messages: {
            email: {
              required: "{% trans 'Դաշտը պարտադիր է լրացման համար' %}",
              email: "{% trans 'Մուտքագրեք Ձեր Էլ. Փոստի հասցեն' %}",
            },
          },

          submitHandler: function (form) {
            form.submit();
          },
        });
      });
    </script>
  </body>
</html>