{% load static %}{% load i18n %}<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  <head>
      {% include 'includes/tagmanager.html' %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% trans "Մուտք" %} | Machanents.com</title>
    <meta name="Description" content="" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/color.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    {% include 'includes/header.html' %}
    <!-- Main content -->
    <main id="content">
      <section class="main-top">
       
        <!-- Breadcrumbs -->
        <div class="bread-bg anot-breadcrumbs bot-prods" style="display: none;">
          <div class="cnt">
            <div class="row">
              <div class="col">
                <div id="breadcrumbs">
                  <ul class="breadcrumbs-list align-items-center">
                    <li class="b-list-item">
                      <a href="{% url 'home' %}" class="b-list-link">{% trans "Գլխավոր" %}</a>
                    </li>
                    <span class="bread-arrow">→</span>
                    <li class="b-list-item">
                      <span>{% trans 'Մուտք' %}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Breadcrumbs end-->

        <!-- Authentication -->
        <div class="authentications-pages">
          <div class="auth-padd-top">
            <div class="cnt">
              <div class="row">
               <div class="col col-2 md-none">
                   <div class="sign-in-img">
                       <img src="{% static 'img/sign-in-img.jpg' %}" alt="Machanents">
                   </div>
               </div>
                <div class="col col-2">
                  <div class="all-form-wrap">
                    <div class="all-forms-items">
                      <ul class="form_tabs align-items-center">
                        <li class="form_item">
                          <a href="javascript:void(0)" class="active">{% trans "Մուտք" %}</a>
                        </li>
                        <li class="form_item">
                          <a href="{% url 'register' %}">{% trans "Գրանցում" %}</a>
                        </li>
                      </ul>
                      <div class="only_form">
                        <!-- error + success -->
                       {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %}">
                                {{message|safe}}
                            </div>
                        {% endfor %}
                        {% endif %}
                        <!-- error + success end -->
                        <form id="register-form" method="POST">
                            {% csrf_token %}
                          <div class="input-fields">
                           <label for="email">Email *</label>
                            <input
                              type="email"
                              id="email"
                              name="email"
                            />
                          </div>
                          <div class="input-fields">
                           <label for="email">Գաղտնաբառ *</label>
                            <img
                              src="{% static 'img/icons/eye-sign.svg' %}"
                              toggle="#password-field"
                              class="toggle-password"
                            />
                            <input
                              type="password"
                              id="password"
                              name="password"
                              class="valid"
                            />
                          </div>
                          <div class="line-inputs-group saved-sysytem flex-center-between">
                            <label class="checkbox-design sr-page">
                              <input type="checkbox" name="remember" />
                              <span class="checkbox-square"></span>{% trans "Հիշե՞լ ինձ" %}
                            </label>
                            <a href="{% url 'forgot' %}" class="ml-auto">{% trans "Մոռացե՞լ եք գաղտնաբառը" %}</a>
                          </div>
                          <div class="line-inputs-group">
                            <div class="butt-sign">
                              <input
                                type="submit"
                                class="button big dark"
                                value="{% trans 'Մուտք' %}"
                              />
                            </div>
                          </div>
                          <hr>
                          <div class="social-sign">
                            <ul class="sp-soc flex-content-center">
                              <li>
                                <a href="{% url 'register' %}" class="button trans normal sgn">{% trans "Գրանցվել հիմա" %}</a>
                              </li>
                            </ul>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Authentication end -->
        
      </section>
    </main>
    {% include "includes/footer.html" %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script>
      //Validate
      $(function () {
        $("#register-form").validate({
          rules: {
            email: {
              required: true,
              email: true,
            },
            password: {
              required: true,
            },
          },

          messages: {
            email: {
              required: "{% trans 'Դաշտը պարտադիր է լրացման համար' %}",
              email: "{% trans 'Մուտքագրեք Ձեր Էլ. Փոստի հասցեն' %}",
            },
            password: {
              required: "{% trans 'Դաշտը պարտադիր է լրացման համար' %}",
            },
          },

          submitHandler: function (form) {
            form.submit();
          },
        });
      });
    </script>
  </body>
</html>