<div class="col col-2">
    <div class="tv-block">
        <div class="tv-block-img">
            {% if video.video_file and not video.video_iframe %}
            <iframe width="560"
                    height="315"
                    src="{{ video.video_file.url }}"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
            {% else %}
                {{ video.video_iframe|safe }}
            {% endif %}
        </div>
    </div>
</div>