{% load static %}{% load i18n %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    {% include 'includes/tagmanager.html' %}
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport'
          content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    <title>{{ page.page_title|title }} | {{ request.get_host|title }}</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include 'includes/header.html' %}
<main id="content">
    <section class="main-top bot-prods">

        <!-- Breadcrumbs -->
        <div class="bread-bg anot-breadcrumbs bot-prods">
            <div class="cnt">
                <div class="row">
                    <div class="col">
                        <div id="breadcrumbs">
                            <ul class="breadcrumbs-list align-items-center">
                                <li class="b-list-item">
                                    <a href="{% url 'home' %}" class="b-list-link">{% trans 'Գլխավոր' %}</a>
                                </li>
                                <img src="{% static 'img/icons/bread-right.svg' %}" class="right-icon" alt="Բլոգ">
                                <li class="b-list-item">
                                    <span>{{ page.page_title|title }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumbs end-->

        <!-- inheritance pages -->
        <div class="cnt">
            <div class="row">
                <div class="col">
                    <div class="two-version-title">
                        <h1>{{ page.page_title|title }}</h1>
                    </div>
                </div>
            </div>
            {% if page.text %}
                <div class="row">
                    <div class="col">
                        <div class="all-paragraphs-styles">
                            {{ page.text|safe }}
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
        <!-- inheritance pages end -->

    </section>
</main>
{% include 'includes/footer.html' %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>