{% load i18n %}{% load static %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    {% include 'includes/tagmanager.html' %}
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport'
          content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    <title>{% trans 'Բլոգ' %} | {{ request.get_host|title }}</title>
    <meta name="Description" content="">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include 'includes/header.html' %}
<main id="content">
    <section class="main-top">

        <!-- Breadcrumbs -->
        <div class="bread-bg bot-prods"
             style="background-image:url({% if bread_content.breadcrumb_image %}{{ bread_content.breadcrumb_image.url }}
             {% else %}{% static 'img/bread.jpg' %}{% endif %})">
            <div class="cnt">
                <div class="row">
                    <div class="col">
                        <div id="breadcrumbs" class="anothers-bread text-center">
                            <div class="tit-page bread-page">
                                <h1>{% trans 'Բլոգ' %}</h1>
                                {% if bread_content.breadcrumbs_text %}
                                    {{ bread_content.breadcrumbs_text|safe }}
                                {% endif %}
                            </div>
                            <ul class="breadcrumbs-list flex-content-center">
                                <li class="b-list-item">
                                    <a href="{% url 'home' %}" class="b-list-link">{% trans 'Գլխավոր' %}</a>
                                </li>
                                <img src="{% static 'img/icons/bread-right.svg' %}" class="right-icon" alt="Տեսականի">
                                <li class="b-list-item">
                                    <span>{% trans 'Բլոգ' %}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumbs end-->

        <!-- Blog -->
        <div class="bot-prods blog-page">
            <div class="cnt">
                <div class="row flex-center-between">
                    <div class="col">
                        <div class="swiper-container slide-cats">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="{% url 'blog_list' %}"
                                       class="cat button normal dark">{% trans 'Բոլորը' %}</a>
                                </div>
                                {% for category in categories %}
                                    <div class="swiper-slide">
                                        <a href="{{ category.get_absolute_url }}"
                                           class="cat button normal gray">{{ category.name }}</a>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    {% for blog in page_obj %}
                        {% include 'includes/blog.html' %}
                    {% endfor %}
                </div>

                    {% include 'includes/pagination.html' %}

            </div>
        </div>
        <!-- Blog end-->

    </section>
</main>
{% include 'includes/footer.html' %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/swiper.min' %}.js"></script>
<script src="{% static 'js/swiper-express' %}.js"></script>
</body>
</html>